<a href="https://colab.research.google.com/github/sule31231021799/lephuocsu/blob/main/python101_ST3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101

## compiler

In [ ]:
%%writefile first.cpp
#include
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}

Overwriting first.cpp

In [ ]:
!cat first.cpp
print("-"*50)

print('Compile...')
!gcc first.cpp -o first
!ls

print("-"*50)
print('Execute...')
!./first

#include
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}

--------------------------------------------------
Compile...
first.cpp:1:10: error: #include expects "FILENAME" or <FILENAME>
    1 | #include
      |          ^
first.cpp: In function ‘int main()’:
first.cpp:5:3: error: ‘printf’ was not declared in this scope
    5 |   printf("The value of c is %d.\n", c);
      |   ^~~~~~
first.cpp:1:1: note: ‘printf’ is defined in header ‘<cstdio>’; did you forget to ‘#include <cstdio>’?
  +++ |+#include <cstdio>
    1 | #include
first.cpp  first.py  sample_data
--------------------------------------------------
Execute...
/bin/bash: line 1: ./first: No such file or directory

In [ ]:
%%writefile first.py
a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)

Writing first.py

## Ngôn ngữ lập trình

In [ ]:
print("Hello, World!")
display('Hello, World')

Hello, World!

'Hello, World'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [9]:
# comment
'''
comment
'''
print('comment')

comment

In [13]:
# indent
score = 80
if score >= 60:
  print('Pass')
  pass # dummy

Pass

In [15]:
# variable
x = 2
price = 2.5

word = 'Hello'
word = "Hello"
print(word, type(word))
word = """
Hello
"""
print(word, type(word))

Hello <class 'str'>

Hello
 <class 'str'>

In [21]:
x = 2
y = x + 1
print(f'x = {x}, y = {y}')
print('x = %d, y = %d'%(x,y))

x = 2, y = 3
x = 2, y = 3

In [22]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [27]:
x = "Hello World" #str
print(x, type(x))
x = 2 #int
print(x, type(x))
x = 2.5 #float
print(x, type(x))
x = 7j + 3 #complex
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
(3+7j) <class 'complex'>

In [29]:
x = ["apple", "banana", "cherry"] #list: chứa các đối tượng khác
print(x, x[2])
x = ("apple", "banana", "cherry") #tuple: chứa các đối tượng khác, readonly
# x[2] = 10 # error
print(x, x[2])
x = range(6) #range: r(6)=[0,5], r(min,max): [min,max)
print(x, list(x)) # iterator: chỉ cấp phát khi sử dụng (kiểu iterator)
x = {"name" : "Tom", "age" : 20} #dict {k,v}
print(x, x['age'])
x = {"apple", "banana", "cherry"} #set: không có giá trị trùng
print(x)
x = frozenset({"apple", "banana", "cherry"})
#frozenset
print(x)

['apple', 'banana', 'cherry'] cherry
('apple', 'banana', 'cherry') cherry
range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20
{'cherry', 'banana', 'apple'}
frozenset({'cherry', 'banana', 'apple'})

In [32]:
x = True #bool
print(x, type(x))
x = b"Hello" #bytes
print(x, type(x))
x = bytearray(5) #bytearray
print(x, type(x))
x = memoryview(bytes(5)) #memoryview
print(x, type(x))
x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7d2cb5fae380> <class 'memoryview'>
None <class 'NoneType'>

## Ép kiểu (Casting)

In [33]:
x = str(3) # x will be '3'
print(x, type(x))
y = int(3) # y will be 3
print(y, type(y))
z = float(3) # z will be 3.0
print(z, type(z))

print(list(range(6)))
print(set([1, 4 , 2, 1, 1, 2, 3, 4]))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]
{1, 2, 3, 4}

In [34]:
x = 2 # int
print(x, type(x))
y = 3.4 # float
print(y, type(y))
z = 7j #complex
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [36]:
''' Arithmetic Operators
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

' Arithmetic Operators\nOperator Name Example\n+ Addition 7 + 2 = 9\n- Subtraction 7 - 2 = 5\n* Multiplication 7 * 2 = 14\n/ Division 7 / 2 = 3.5\n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [37]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [38]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False